.header {
  padding-top: var(--spacerBig);
  padding-bottom: var(--spacerBig);
  margin-bottom: var(--spacerBig);
}

.header .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.header .content {
  align-self: center;
  margin-left: var(--spacerBig);
}

.header .pic img {
  border-radius: .5rem;
  width: 100%;
}
