.recipes {
  list-style: none;
  margin: 0;
  padding: 0;
}

.recipe__description {
  margin-bottom: var(--spacerBig);
  line-height: 1.5;
}

.recipe__text {
  color: var(--colorGrayDark);
}

.recipe {
  cursor: pointer;
  background: var(--colorLightest);
  border-radius: .5rem;
  box-shadow: .25rem .75rem 1.56rem var(--colorLight);
  margin-bottom: var(--spacerBig);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipe--active {
  box-shadow: .25rem .75rem 1.56rem #e8dbcf;
}

.recipe__title {
  color: var(--colorText);
}

.recipe__img {
  display: flex;
  align-self: stretch;
}

.recipe__img img {
  border-radius: 0 .5rem .5rem 0;
  max-width: 3.5rem;
  object-fit: cover;
}

.recipe__info {
  padding: var(--spacerBig);
}

.recipe__label {
  display: block;
  color: var(--colorGrayDark);
  text-transform: uppercase;
  font-size: var(--fontSmall);
  margin-bottom: var(--spacerSmall);
}

.recipe__by {
  display: block;
  color: var(--colorGrayDark);
  margin-bottom: var(--spacerRegular);
}

.recipe__description ol {
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 2.5rem;
}

.recipe__description ol li {
  margin: 0 0 .5rem;
  counter-increment: my-awesome-counter;
  position: relative;
}

.recipe__description ol li::before {
  content: counter(my-awesome-counter) '. ';
  position: absolute;
  left: calc(-1 * 2rem - .63rem);
  line-height: 2rem;
  width: 2rem;
  height: 2rem;
  top: 0;
  text-align: center;
  font-size: var(--fontMedium);
  font-family: var(--fontAlt);
  font-weight: var(--fontWeightAlt);
  color: var(--colorMain);
}

@media only screen and (min-width: 650px) {

  .recipes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--spacerRegular);
  }

}

@media only screen and (min-width: 900px) {

  .recipes_layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: var(--spacerRegular);
  }

  .recipes_wrapper {
    grid-row: 1/2;
  }

  .recipe {
    justify-content: normal;
  }

  .recipes {
    grid-template-columns: 1fr;
  }

  .recipe__img img {
    max-width: fit-content;
  }

  .recipe__info {
    order: 1;
  }

  .recipe__img {
    order: 0;
    align-self: unset;
  }
}
