body {
  overflow: hidden;
}

.container {
  background-color: #0047ff;
  display: flex;
  margin: 0 auto;
}

.content {
  height: 100vh;
  width: 100vw;
}

.title {
  font-family: Avenir, sans-serif;
  text-transform: uppercase;

  color: #fffb00;
  text-align: center;
  font-size: 3.5rem;
}

.subtitle {
  font-family: Avenir, sans-serif;
  color: #fffb00;
  text-align: center;
  font-size: 1.5rem;
}

.steveoriginal {
  width: 100vw;
  height: 40.3rem;
  transform: scale(2);
  z-index: -1;
}

.animationcontainer {
  grid-area: steve;
  display: flex;
  justify-content: center;
}

.gridcontainer {
  z-index: 1;
  grid-area: steve;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.hidden {
  display: none;
}

.maincontent {
  margin: 0 auto;
  height: 45rem;
  display: grid;
  grid-template-areas: 'steve';
}

@media only screen and (max-width: 700px) {

  .title {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 400px) {

  .title {
    font-size: 2rem;
  }
}
