.container {
  background-color: blue;
}

.content {
  max-width: 96rem;
  margin: 0 auto;
}

.title {
  font-family: Avenir, sans-serif;
  text-transform: uppercase;

  color: #faff00;
  text-align: center;
  font-size: 5.5rem;
}
