body {
  font-size: var(--fontRegular);
  font-family: var(--font);
  font-weight: var(--fontWeightRegular);

}

h1, .h1-like {
  color: var(--colorMain);
  font-size: var(--fontBig);
  font-family: var(--fontAlt);
  font-weight: var(--fontWeightAlt);
  margin: 0 0 1rem;
}

h2, .h2-like {
  color: var(--colorMain);
  font-size: var(--fontMedium);
  font-family: var(--fontAlt);
  font-weight: var(--fontWeightAlt);
  margin: 0 0 1rem;
}

h3, .h3-like {
  /* display: block;
  font-size: var(--fontSmall);
  font-family: var(--font);
  font-weight: var(--fontWeightRegular);
  text-transform: uppercase;
  margin: 0 0 .65rem; */
}
