/* :root {
  --colorLightest: white;
  --colorText: #211f1f;
  --colorMain: #d69762;
  --colorSecondary: #5ad485;
  --colorLight: rgba(71, 55, 255, .08);
  --colorGrayDark: #9c9c9c;
  --spacerSmall: .75rem; /* 12px
}

@custom-media --only-small-screen (width >= 360px);
@custom-media --only-regular-screen (width >= 660px);
@custom-media --only-medium-screen (width >= 900px); */
